:root {
  --white-color: #fff;
  --black-color: #202020;
  --yellow-color: #ffda14;
  --sub-yellow-color: #b29b1d;
  --light-yellow-color: #ffee91;
  --blended-light-color: #fffbe8;
  --text-red-color: #f45c47;
  --semi-red-color: #ff5959;
  --red-color: #ff4040;
  --pink-color: #ff7d7d;
  --light-pink-color: #fff5f5;
  --semi-blue-color: #53acff;
  --navy-color: #2c3e50;
  --light-gray-color: #f9f9f9;

  font-weight: normal;
  font-family: 'Noto Sans KR', 'Noto Sans';
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  z-index: 3;
}

main {
  display: flex;
  width: 100%;
  z-index: 2;
}

body,
html {
  margin: 0;
  padding: 0;
}

ul,
li,
dl,
dt,
dd,
p,
span {
  font-family: 'Noto Sans KR', 'Noto Sans';
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Noto Sans KR', 'Noto Sans';
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans KR', 'Noto Sans';
}

input {
  font-family: 'Noto Sans KR', 'Noto Sans';
}

button {
  font-family: 'Noto Sans KR', 'Noto Sans'; 
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

/* 데스크탑 */
@media screen and (max-width: 1920px) {
  :root {
    font-size: 8.2px;
  }
}

/* 노트북 */
@media screen and (max-width: 1684px) {
  :root {
    font-size: 7.8px;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    font-size: 7.4px;
  }
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
  :root {
    font-size: 7px;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  :root {
    font-size: 6px;
  }
}

@media screen and (max-width: 560px) {
  :root {
    font-size: 5.5px;
  }
}

@media screen and (max-width: 375px) {
  :root {
    font-size: 5px;
  }
}
@media screen and (max-width: 320px) {
  :root {
    font-size: 4.5px;
  }
}
